<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taurus.dao.SFolderDao">
 
    <!-- 通用查询映射结果 -->
    <resultMap id="entity" type="org.taurus.entity.SFolderEntity">
        <!-- 文件夹ID -->
        <id column="FOLDER_ID" property="folderId"/>
    	<!-- 文件夹名称 -->
        <result column="FOLDER_NAME" property="folderName"/>
    	<!-- 父文件夹 -->
        <result column="FOLDER_PARENT" property="folderParent"/>
    	<!-- 文件夹所有者 -->
        <result column="FOLDER_OWNER" property="folderOwner"/>
    	<!-- 删除标识 -->
        <result column="FOLDER_DEL_FLG" property="folderDelFlg"/>
    	<!-- 创建时间 -->
        <result column="FOLDER_CREATE_TIME" property="folderCreateTime"/>
    	<!-- 创建者 -->
        <result column="FOLDER_CREATE_USER" property="folderCreateUser"/>
    	<!-- 编辑时间 -->
        <result column="FOLDER_MODIFY_TIME" property="folderModifyTime"/>
    	<!-- 编辑者 -->
        <result column="FOLDER_MODIFY_USER" property="folderModifyUser"/>
    </resultMap>

    <resultMap id="entityEx" type="org.taurus.extendEntity.SFolderEntityEx" extends="entity">
        <!--子文件夹个数-->
        <result column="CHILDREN_COUNT" property="childrenCount"/>
        <!--子文佳个数-->
        <result column="CHILDREN_FILE_COUNT" property="childrenFileCount"/>
    </resultMap>

    <select id="getFolderInfo" resultMap="entityEx">
        SELECT
            f.*,
            (SELECT COUNT(1) FROM s_folder WHERE FOLDER_PARENT = #{folderId}) AS CHILDREN_COUNT,
            (SELECT COUNT(1) FROM s_file WHERE FILE_FOLDER = #{folderId}) AS CHILDREN_FILE_COUNT
        from s_folder f
        where f.FOLDER_ID = #{folderId}
    </select>
    
</mapper>