<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taurus.dao.SUrlParamDao">
 
    <!-- 通用查询映射结果 -->
    <resultMap id="entity" type="org.taurus.entity.SUrlParamEntity">
        <!-- 请求参数id -->
        <id column="URL_PARAM_ID" property="urlParamId"/>
    	<!-- 请求id -->
        <result column="URL_ID" property="urlId"/>
    	<!-- 参数名 -->
        <result column="URL_PARAM_NAME" property="urlParamName"/>
    	<!-- 参数值，正则表达式 -->
        <result column="URL_PARAM_VALUE" property="urlParamValue"/>
    	<!-- 是否为必须参数 -->
        <result column="URL_PARAM_REQUIRED" property="urlParamRequired"/>
    	<!-- 是否允许为空值 -->
        <result column="URL_PARAM_NULL" property="urlParamNull"/>
    	<!-- 参数备注 -->
        <result column="URL_PARAM_REMARK" property="urlParamRemark"/>
    	<!-- 参数异常时候的提示 -->
        <result column="URL_PARAM_ERR_HINT" property="urlParamErrHint"/>
    	<!-- 删除标识 -->
        <result column="URL_PARAM_DEL_FLG" property="urlParamDelFlg"/>
    	<!-- 创建时间 -->
        <result column="URL_PARAM_CREATE_TIME" property="urlParamCreateTime"/>
    	<!-- 创建者 -->
        <result column="URL_PARAM_CREATE_USER" property="urlParamCreateUser"/>
    	<!-- 编辑事件 -->
        <result column="URL_PARAM_MODIFY_TIME" property="urlParamModifyTime"/>
    	<!-- 编辑者 -->
        <result column="URL_PARAM_MODIFY_USER" property="urlParamModifyUser"/>
    </resultMap>
    
    <resultMap id="entityEx" type="org.taurus.extendEntity.SUrlParamEntityEx" extends="entity">
    	<association property="urlEntity" javaType="org.taurus.entity.SUrlEntity">
			<!--请求id-->
			<id property="urlId" column="URL_ID" />
			<!--请求地址-->
			<result property="urlPath" column="URL_PATH" />
			<!--请求方式(get,post)-->
			<result property="urlType" column="URL_TYPE" />
			<!--系统平台(pc,移动端)-->
			<result property="urlPlatform" column="URL_PLATFORM" />
			<!--备注-->
			<result property="urlRemarks" column="URL_REMARKS" />
			<!--删除标识-->
			<result property="urlDelFlg" column="URL_DEL_FLG" />
			<!--创建时间-->
			<result property="urlCreateTime" column="URL_CREATE_TIME" />
			<!--创建者-->
			<result property="urlCreateUser" column="URL_CREATE_USER" />
			<!--编辑时间-->
			<result property="urlModifyTime" column="URL_MODIFY_TIME" />
			<!--编辑者-->
			<result property="urlModifyUser" column="URL_MODIFY_USER" />
    	</association>
    </resultMap>
    
    <select id="getList_url" resultMap="entityEx" parameterType="org.taurus.entity.SUrlParamEntity">
		SELECT 
			up.*,u.*
		FROM s_url_param up, s_url u
		where up.URL_ID = u.URL_ID
			AND up.URL_PARAM_DEL_FLG = '1'
    </select>
    
</mapper>