<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taurus.dao.SMenuDao">
 
    <!-- 通用查询映射结果 -->
    <resultMap id="entity" type="org.taurus.entity.SMenuEntity">
        <!-- 菜单id -->
        <id column="MENU_ID" property="menuId"/>
    	<!-- 文本 -->
        <result column="MENU_TEXT" property="menuText"/>
    	<!-- 父菜单 -->
        <result column="MENU_PARENT" property="menuParent"/>
    	<!-- 顺序 -->
        <result column="MENU_ORDER" property="menuOrder"/>
    	<!-- 点击菜单发出的请求(请求id) -->
        <result column="MENU_URL" property="menuUrl"/>
    	<!-- 是否为菜单组 -->
        <result column="MENU_GROUP" property="menuGroup"/>
    	<!-- 菜单图标 -->
        <result column="MENU_ICON" property="menuIcon"/>
    	<!-- 删除标识 -->
        <result column="MENU_DEL_FLG" property="menuDelFlg"/>
    	<!-- 创建时间 -->
        <result column="MENU_CREATE_TIME" property="menuCreateTime"/>
    	<!-- 创建者 -->
        <result column="MENU_CREATE_USER" property="menuCreateUser"/>
    	<!-- 编辑时间 -->
        <result column="MENU_MODIFY_TIME" property="menuModifyTime"/>
    	<!-- 编辑者 -->
        <result column="MENU_MODIFY_USER" property="menuModifyUser"/>
    </resultMap>
    
    <resultMap id="entityEx" type="org.taurus.extendEntity.SMenuEntityEx" extends="entity">
    	<association property="urlEntity" javaType="org.taurus.entity.SUrlEntity">
			<!--请求id-->
			<id property="urlId" column="URL_ID" />
			<!--请求地址-->
			<result property="urlPath" column="URL_PATH" />
			<!--请求方式(get,post)-->
			<result property="urlType" column="URL_TYPE" />
			<!--系统平台(pc,移动端)-->
			<result property="urlPlatform" column="URL_PLATFORM" />
			<!--备注-->
			<result property="urlRemarks" column="URL_REMARKS" />
			<!--删除标识-->
			<result property="urlDelFlg" column="URL_DEL_FLG" />
			<!--创建时间-->
			<result property="urlCreateTime" column="URL_CREATE_TIME" />
			<!--创建者-->
			<result property="urlCreateUser" column="URL_CREATE_USER" />
			<!--编辑时间-->
			<result property="urlModifyTime" column="URL_MODIFY_TIME" />
			<!--编辑者-->
			<result property="urlModifyUser" column="URL_MODIFY_USER" />
    	</association>
    	<collection property="authList" ofType="org.taurus.entity.SAuthEntity">
	        <!-- 权限id -->
	        <id column="AUTH_ID" property="authId"/>
	    	<!-- 权限名称 -->
	        <result column="AUTH_NAME" property="authName"/>
	    	<!-- 权限级别 -->
	        <result column="AUTH_LEVEL" property="authLevel"/>
	    	<!-- 删除标识 -->
	        <result column="AUTH_DEL_FLG" property="authDelFlg"/>
	    	<!-- 创建时间 -->
	        <result column="AUTH_CREATE_TIME" property="authCreateTime"/>
	    	<!-- 创建者 -->
	        <result column="AUTH_CREATE_USER" property="authCreateUser"/>
	    	<!-- 编辑时间 -->
	        <result column="AUTH_MODIFY_TIME" property="authModifyTime"/>
	    	<!-- 编辑者 -->
	        <result column="AUTH_MODIFY_USER" property="authModifyUser"/>
		</collection>
    </resultMap>
    
    <select id="getMenuListByUser" parameterType="java.lang.String" resultMap="entityEx">
		SELECT 
			u.URL_PATH,a.AUTH_ID,m.* 
		FROM s_menu m 
		LEFT JOIN s_auth_menu am ON am.MENU_ID = m.MENU_ID 
		LEFT JOIN s_auth a ON am.AUTH_ID = a.AUTH_ID 
		LEFT JOIN s_url u ON u.URL_ID = m.MENU_URL 
		WHERE 
		(
			EXISTS ( SELECT 1 FROM s_auth_user WHERE AUTH_ID = am.AUTH_ID AND USER_ID = #{userId} ) 
			OR NOT EXISTS (SELECT 1 FROM s_auth_menu WHERE MENU_ID = m.MENU_ID) 
		)
		AND m.MENU_DEL_FLG = '1'
		ORDER BY m.MENU_ORDER
    </select>
    
    <select id="getMenuList" resultMap="entityEx">
		SELECT 
			a.AUTH_ID,a.AUTH_NAME,a.AUTH_LEVEL,
			u.URL_ID,u.URL_PATH,
			m.*
		FROM s_menu m
		LEFT JOIN s_auth_menu am ON am.MENU_ID = m.MENU_ID
		LEFT JOIN s_auth a ON a.AUTH_ID = am.AUTH_ID
		LEFT JOIN s_url u ON u.URL_ID = m.MENU_URL
		WHERE m.MENU_DEL_FLG = '1'
		ORDER BY m.MENU_ORDER
    </select>
    
    <select id="getMenuDetail" resultMap="entityEx">
		SELECT 
			a.AUTH_ID,a.AUTH_NAME,a.AUTH_LEVEL,
			u.URL_ID,u.URL_PATH,
			m.*
		FROM s_menu m
		LEFT JOIN s_auth_menu am ON am.MENU_ID = m.MENU_ID
		LEFT JOIN s_auth a ON a.AUTH_ID = am.AUTH_ID
		LEFT JOIN s_url u ON u.URL_ID = m.MENU_URL
		WHERE m.MENU_DEL_FLG = '1'
			AND m.MENU_ID = #{menuId}
		ORDER BY m.MENU_ORDER
    </select>
    
</mapper>